---
import { xmlToJsonUtil } from "xml-to-json-util";
import VideoCard from './VideoCard.astro';
const req = await fetch(
  "https://www.youtube.com/feeds/videos.xml?channel_id=UCwJjFIDpdNN0Dk3vSNZby1g"
);

const xml = await req.text();
const parsedXml = xmlToJsonUtil(xml);

// Ordenar os vídeos pelo campo "published" (do mais recente para o mais antigo)
const sortedVideos = parsedXml.feed.entry.sort((a: any, b: any) => {
  const dateA = new Date(a.published).getTime();
  const dateB = new Date(b.published).getTime();
  return dateB - dateA; // Decrescente
});

// Selecionar os 3 primeiros vídeos após a ordenação
const finalVideos = sortedVideos.slice(0, 3).map((video: any) => {
  return {
    title: video.title,
    id: video["yt:videoId"],
    published: video.published,
  };
});
---

<div class="flex gap-4">
  {
    finalVideos.map(({ title, id }) => (
    
      <VideoCard
    title={title}
    thumbnailUrl={`https://img.youtube.com/vi/${id}/maxresdefault.jpg`}
    videoUrl={`https://www.youtube.com/watch?v=${id}`}
  />
    ))
  }
</div>